<% cal_month = get_calendar_month(month, year) %>
<!-- set selected user to nil if none provided -->
<% selected_user = "" if !selected_user %>
<!-- next and previous months -->
<div class="calendar-header">
	<a class="cal_link left" href="/changemonth/<%= month - 1 %>">< Prev</a>

	<h3><%= "#{month_integer_to_string(month)} #{session[:year]}" %></h3>
	<a class="cal_link right" href="/changemonth/<%= month + 1 %>">Next ></a>
</div>
<table class="calendar">
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>

	

	<% (cal_month.length/7 ).times do |i| %>
		<tr>

			<% 7.times do |j| %>
				<td <%= 'class=selected' if selected_user == cal_month[j + (i*7)][2] %>>
					<div class="num">
						<%= cal_month[(j) + (i*7)][0] %>
					</div>
					<a href="/users/<%= cal_month[(j) + (i*7)][1] %>" class="name">
						<%= cal_month[(j) + (i*7)][2] %>
					</a>
				</td>
			<% end %>

		</tr>

	<% end %>

</table>