<% cal_month = get_calendar_month(month, year) %>
<!-- next and previous months -->
<a class="cal_link" href="/changemonth/<%= month - 1 %>">down</a>
<a class="cal_link" href="/changemonth/<%= month + 1 %>">up</a>

<h3 class="calendar-header"><%= "#{month_integer_to_string(month)} #{session[:year]}" %></h3>
<table class="calendar">
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>

	

	<% (cal_month.length/7 ).times do |i| %>
		<tr>
			<td class="Sunday">
				<div class="num"><%= cal_month[0 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[0 + (i*7)][1] %>"><%= cal_month[0 + (i*7)][2] %></a>
			</td>
			<td class="Monday">
				<div class="num"><%= cal_month[1 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[1 + (i*7)][1] %>"><%= cal_month[1 + (i*7)][2] %></a>
			</td>
			<td class="Tuesday">
				<div class="num"><%= cal_month[2 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[2 + (i*7)][1] %>"><%= cal_month[2 + (i*7)][2] %></a>
			</td>
			<td class="Wednesday">
				<div class="num"><%= cal_month[3 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[3 + (i*7)][1] %>"><%= cal_month[3 + (i*7)][2] %></a>
			</td>
			<td class="Thursday">
				<div class="num"><%= cal_month[4 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[4 + (i*7)][1] %>"><%= cal_month[4 + (i*7)][2] %></a>
			</td>
			<td class="Fay">
				<div class="num"><%= cal_month[5 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[5 + (i*7)][1] %>"><%= cal_month[5 + (i*7)][2] %></a>
			</td>
			<td class="Saturday">
				<div class="num"><%= cal_month[6 + (i*7)][0] %></div>
				<a class="name" href="/users/<%= cal_month[6 + (i*7)][1] %>"><%= cal_month[6 + (i*7)][2] %></a>
			</td>
		</tr>

	<% end %>

</table>