<% cal_month = get_calendar_month(month, year) %>
<!-- set selected user to nil if none provided -->
<% session[:selected_user] = "not_a_user" if !session[:selected_user] %>
<!-- next and previous months -->
<div class="calendar-header">
	<a class="cal_link left" href="/changemonth/<%= month - 1 %>">< Prev</a>

	<h3><%= "#{month_integer_to_string(month)} #{session[:year]}" %></h3>
	<a class="cal_link right" href="/changemonth/<%= month + 1 %>">Next ></a>
</div>
<table class="calendar">
	<tr>
		<% ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"].each do |day| %>
			<th><%= day %></th>
		<% end %>
	</tr>

	

	<% (calendar_month_user_array.length/7 ).times do |i| %>
		<tr>

			<% 7.times do |j| %>
			<% current_day =  calendar_month_user_array[j + (i*7)]%>
				<td <%= 'class=selected' if session[:selected_user] == current_day[2] %> data-date='<%= "#{current_day[0]}-#{month}-#{session[:year]}" %>'>
					<div class="num">
						<%= current_day[0] %>
					</div>
					<a href="/users/<%= current_day[1] %>" class="name">
						<%= current_day[2] %>
					</a>
					 <% if session[:selected_user] == current_day[2] %>
						 <div class="cant-do">

						 	<%= form_for @user, :url => {contoller: "users", action: "update"}, method: "put" do |f| %>
						 		<%= f.hidden_field :no_can_do_day, value: "" %>
						 		<%= f.submit :"Mark as undoable" %>
						 	<% end %>
						 	
						 </div>
					 <% end %>
				</td>
			<% end %>

		</tr>

	<% end %>

</table>

<div data-date="2015-02-03"></div>