<header>
	<h1>
		<%= get_header_phrase %>
	</h1>
</header>
<div class="errors">
	<% if flash[:errors] %>
		<ul>
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<div class="form-container">
	

	<%= form_for :find, :url => {controller: "users", action: "find"}, method: "post" do |f| %>
		<%= f.text_field :name, placeholder: "Type your name to manage your schedule" %>
		<%= f.submit :submit %>
	<% end %>
</div>



<div class="table-container">
	<%= render partial: 'shared/calendar', :locals => {month: DateTime.now.to_date.month, year: DateTime.now.to_date.year} %>
</div>

