<header>
	<h1>
		Today's Support Hero is "<%= @todays_hero.name %>"
	</h1>
</header>

<%= form_for :find, :url => {controller: "users", action: "find"}, method: "post" do |f| %>
	<%= f.text_field :name %>
	<%= f.submit :submit %>
<% end %>

<!-- <form action="/users/find" method="post">
	<input type="text" placeholder="Enter your name to see your schedule and make changes" name="name" />
	<input type="submit" value="Submit" />
</form>
 -->



<%= render 'partials/calendar' %>

