<header>
	<h1>
		<%= get_header_phrase %>
	</h1>
</header>
<div class="form-container">
	<% if !@errors.empty? %>
		<div class="errors">
			<%= @errors[0] %>
		</div>
	<% end %>

	<%= form_for :find, :url => {controller: "users", action: "find"}, method: "post" do |f| %>
		<%= f.text_field :name, placeholder: "Enter your name to see your schedule and make changes" %>
		<%= f.submit :submit %>
	<% end %>
</div>

<!-- <form action="/users/find" method="post">
	<input type="text"  />
	<input type="submit" value="Submit" />
</form>
 -->

<div class="table-container">
	<%= render partial: 'calendar/calendar', :locals => {month: DateTime.now.to_date.month, year: DateTime.now.to_date.year} %>
</div>

