<header>
	<h1>
		<%= get_header_phrase %>
	</h1>
</header>
<div class="form-container">
	<% if !@errors.empty? %>
		<div class="errors">
			<%= @errors[0] %>
		</div>
	<% end %>

	<%= form_for :find, :url => {controller: "users", action: "find"}, method: "post" do |f| %>
		<%= f.text_field :name, placeholder: "Type your name to manage your schedule" %>
		<%= f.submit :submit %>
	<% end %>
</div>



<div class="table-container">
	<%= render partial: 'calendar/calendar', :locals => {month: DateTime.now.to_date.month, year: DateTime.now.to_date.year} %>
</div>

