<header>
	<h1 class="header-phrase">
		<%= get_header_phrase(Date.today) %>
	</h1>
</header>


<% if flash[:errors] %>
	<div class="errors">
		<% flash[:errors].each do |error| %>
			<p><%= error %></p>
		<% end %>
	</div>
<% end %>

<div class="form-container">
	

	<%= form_for :find, :url => {controller: "users", action: "find"}, method: "post" do |f| %>
		<%= f.text_field :name, placeholder: "Type your name to manage your schedule" %>
		<%= f.submit :submit %>
	<% end %>
</div>


<div class="table-container">
	
</div>

