<header>
	<div class="title-wrapper">
		<h3>
			<a href="/">Support Hero</a>
		</h3>
		<h1><%= @user.name %></h1>
	</div>
</header>


<% if flash[:notice] %>
  <div class="notice">
  	<p><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:errors]  %>
	<div class="errors">
		<p>
			<% flash[:errors].each do |error| %>
				<%= error[0] %>
			<% end %>
		</p>
	</div>
<% end %>


<div class="information">
	<div class="instructions eq-w">
		<h2>Instructions</h2>
		<ul>
			<li>
				<a class="instruction" href="#">General</a>
				<div class="toggle">
						The days you are scheduled to work are marked in <span class="orange">orange</span></br>
						The previous and next month days are marked in <scpan class="faded">light yellow</span>
				</div>
			</li>	
			<li>
			  <a class="instruction" href="#">How to mark a day as undoable:</a>
			  <div class="toggle">
				Hover over your name
				<ul>
					<li>click "Mark as undoable" to mark a day you can't work</li>
				</ul>
				<div>you can only mark one day a month as undoable</div>
			</div>
			</li>
			<li>
				<a class="instruction" href="#">How to request a swap:</a>
				<div class="toggle">
					Hover over a day you would like to work
					<ul>
						<li>select (from the drop down menu of your scheduled days) a day you would like to swap!</li>
						<li>Click "Ask to swap!"</li>
					</ul>
					<div>you may only ask to swap one day at a time</div>
				</div>
			</li>
			<li>
				<a href="#" class="instruction">How to confirm or deny a swap request</a>
				<div class="toggle">
					In the pending day swaps box:
					<ul>
						<li>to confirm click yes</li>
						<li>to deny click no</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<div class="swaps eq-w">
		<h2>Pending Day Swaps</h2>
		<ul>
			<% @user.days.select{|day| day.swap_request != nil}.each do |day| %>
				<li>
					<%= "Will you swap your day: #{pretty_date(day.date)} for #{user_from_date(day.swap_request).name}'s #{pretty_date(day.swap_request)}" %>
					<%= render partial: "days/confirm_swap_form", locals: {day: day} %>
					<%= render partial: "days/reject_swap_form", locals: {day: day} %>
				</li>

			<% end %>
		</ul>
	</div>



</div>





<div class="table-container">
	
</div>



