<header>
	<h1><%= @user.name %></h1>
</header>


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:errors] %>
	<div class="errors">
		<% flash[:errors].each do |error| %>
			<%= error[0] %>
		<% end %>
	</div>
<% end %>


<div class="information">
	<div class="instructions eq-w">
		<h2>Instructions</h2>
		<ul>
			<li>The days you are scheduled for Support Hero are marked in <span class="yellow">yellow</span></li>
			<li>
				Hover over your name and click button to mark a day you can't work
				<ul>
					<li>you can only mark one day a month</li>
				</ul>
			</li>
			<li>You may ask to switch days with someone but they may decline</li>
		</ul>
	</div>

	<div class="swaps eq-w">
		<h2>Pending Day Swaps</h2>
		<ul>
			<% @user.days.select{|day| day.swap_request != nil}.each do |day| %>
				<li>
					<%= "Will you swap your day: #{pretty_date(day.date)} for #{user_from_date(day.swap_request).name}'s #{pretty_date(day.swap_request)}" %>
					<%= render partial: "day_assignments/confirm_swap_form", locals: {day: day} %>
					<%= render partial: "day_assignments/reject_swap_form", locals: {day: day} %>
				</li>

			<% end %>
		</ul>
	</div>



</div>





<div class="table-container">
	
</div>



