<header>
	<h1><%= @user.name %></h1>
</header>


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:errors] %>
	<div class="errors">
		<% flash[:errors].each do |error| %>
			<%= error[0] %>
		<% end %>
	</div>
<% end %>


<div class="information">
	<div class="instructions eq-w">
		<h2>Instructions</h2>
		<ul>
			<li>The days you are scheduled for Support Hero are marked in <span class="yellow">yellow</span></li>
			<li>
				Hover over your name and click button to mark a day you can't work
				<ul>
					<li>you can only mark one day a month</li>
				</ul>
			</li>
			<li>You may ask to switch days with someone but they may decline</li>
		</ul>
	</div>

	<div class="swaps eq-w">
		<h2>Pending Day Swaps</h2>
		<ul>
			<% @user.day_assignments.select{|day| day.swap_request != nil}.each do |day| %>
				<li>
					<%= "Will you swap your day: #{pretty_date(day.date)} for #{user_from_date(day.swap_request).name}'s #{pretty_date(day.swap_request)}" %>
					<%= form_for day, :url => {action: "confirm_swap", controller: "day_assignments"}, method: "put" do |f| %>
						<%= f.hidden_field :first_day_id, :value => day.id %>
						<%= f.hidden_field :second_day_id, :value => assigned_day_from_date(day.swap_request).id %>
						<%= f.submit :Yes %>
					<% end %>
					<%= form_for day, :url => {action: "reject_swap", controller: "day_assignments"}, method: "put" do |f| %>
						<%= f.hidden_field :first_day_id, :value => day.id %>
						<%= f.hidden_field :second_day_id, :value => assigned_day_from_date(day.swap_request).id %>
						<%= f.submit :No %>
					<% end %>
				</li>

			<% end %>
		</ul>
	</div>

	<div class="dashboard eq-w">
		<h2>Dashboard</h2>
		<ul>
			<li>you have been asked to swap days with blah</li>
		</ul>
	</div>



</div>





<div class="table-container">
	<%= render partial: 'shared/calendar', :locals => {month: DateTime.now.to_date.month, year: DateTime.now.to_date.year} %>
</div>



