<header>
	<div class="title-wrapper">
		<h3>
			<a href="/">Support Hero</a>
		</h3>
		<h1><%= @user.name %></h1>
	</div>
</header>


<% if flash[:notice] %>
  <div class="notice">
  	<p><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:errors]  %>
	<div class="errors">
		<p>
			<% flash[:errors].each do |error| %>
				<%= error[0] %>
			<% end %>
		</p>
	</div>
<% end %>


<div class="information">
	<div class="instructions eq-w">
		<h2>Instructions</h2>
		<ul>
			<li>The days you are scheduled to work are marked in <span class="orange">orange</span></li>
			<li>
				How to mark a day as undoable:
				<ul>
					<li>Hover over your name</li>
					<li>click "Mark as undoable" to mark a day you can't work</li>
				</ul>
				 
				<ul>
					<li>you can only mark one day a month</li>
				</ul>
			</li>
			<li>
				How to request a swap:
				<ul>
					<li>Hover over a day you would like to work</li>
					<ul>
						<li>select (from the drop down menu of your scheduled days) a day you would like to swap!</li>
						<li>Click "Ask to swap!"</li>
					</ul>
					<li>you may only ask to swap one day at a time</li>
					<li></li>
				</ul>
			</li>

		</ul>
	</div>

	<div class="swaps eq-w">
		<h2>Pending Day Swaps</h2>
		<ul>
			<% @user.days.select{|day| day.swap_request != nil}.each do |day| %>
				<li>
					<%= "Will you swap your day: #{pretty_date(day.date)} for #{user_from_date(day.swap_request).name}'s #{pretty_date(day.swap_request)}" %>
					<%= render partial: "days/confirm_swap_form", locals: {day: day} %>
					<%= render partial: "days/reject_swap_form", locals: {day: day} %>
				</li>

			<% end %>
		</ul>
	</div>



</div>





<div class="table-container">
	
</div>



