<!-- next and previous months -->
<div class="calendar-header">
	<a class="cal_link left" href="/get_prev_month">< Prev</a>

	<h3><%= "#{month_integer_to_string(month)} #{session[:year]}" %></h3>
	<a class="cal_link right" href="/get_next_month">Next ></a>
</div>
<table class="calendar">
	<tr>
		<% ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"].each do |day| %>
			<th><%= day %></th>
		<% end %>
	</tr>

	
	<!-- loop through all the weeks in the month -->
	<% (calendar_month_user_array.length/7 ).times do |week_index| %>
		<tr>
			<% 7.times do |day_index| %>
			<% current_day =  calendar_month_user_array[day_index + (week_index*7)]%>
				<td <%= set_selected(current_day) %> data-date='<%= ugly_date(current_day) %>'>
					<div class="num">
						<%= current_day.day_of_month_num %>
					</div>
					<a href="/users/<%= current_day.user_id %>" class="name">
						<%= current_day.user_name %>
					</a>
					  <% if session[:selected_user] == current_day.user_name %>
						  <div class="cant-do">

						 	  <%= render partial: 'users/no_can_do_day_form', locals: {user: User.where(name: session[:selected_user])[0]} %>
								
						   </div>
					  <% elsif session[:show] && current_day.user_id %>
					    <%= render partial: 'shared/swap_day_form', :locals => {day: Day.where(date: current_day.date)[0], user: User.find(session[:user_id]) } %> 
					  <% end %>
				</td>
			<% end %>

		</tr>

	<% end %>

</table>

